.aside{
  position: absolute;
  left: 0;
  top: 0;
  @include twocolors_fallback_horizontal_gradient($first_color, $third_color);
  width: 0;
  height: 100vh;
  transition: .3s;
  &__nav{
    opacity: 0;
    margin: 15px;
    &__header__title{
      @include font_main_title;
      color: $background_color;
      &:after{
        content: '';
        width: 100%;
        height: 2px;
        background: $background_color;
        display: block;
      }
    }
    &__menu{
      margin-top: 30px;
    }
    &__item a{
      @include font_main_text;
      color: $background_color;
      padding: 5px 15px;
      font-weight: bold;
      &:before{
        content: '•';
        margin-right: 5px;
        transition: .3s;
      }
      &:hover:before{
        content: '×';
        margin-right: 5px;
        margin-left: 2.5px;
        transition: .3s;
      }
      &:hover{
        color: white;
      }
    }
  }
  &.active{
    @include cell_phone{
      width: 100%;
      transition: .3s;
      visibility: visible;
    }
  }
  &.active &__nav{
    opacity: 1;
    transition: .5s;
  }
}