$background_color: #28282a;
$first_color: #B31279;
$second_color: #EDCF18;
$fourth_color: #FDFDE3;
$fifth_color: #C81822;
$black: #000;
$white: #fff;

@mixin fallback_horizontal_gradient($color){
  $lighten: lighten($color: $color, $amount: 10);
  $darken: darken($color: $color, $amount: 10);
  background: $lighten; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $lighten 0%, $darken 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  $lighten 0%, $darken 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  $lighten 0%, $darken 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lighten', endColorstr='$darken',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin linear_gradient($color){
  $lighten: lighten($color: $color, $amount: 40);
  $darken: darken($color: $color, $amount: 10);
  background: $lighten ; /* Old browsers */
  background: -moz-linear-gradient(left,  $lighten 0%, $darken 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $lighten 0%, $darken 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $lighten 0%, $darken 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lighten', endColorstr='$darken',GradientType=1 ); /* IE6-9 */
}

@mixin twocolors_linear_gradient($color_one, $color_two){
  background: $color_one ; /* Old browsers */
  background: -moz-linear-gradient(left,  $color_one 0%, $color_two 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $color_one 0%, $color_two 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $color_one 0%, $color_two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_one', endColorstr='$color_two',GradientType=1 ); /* IE6-9 */
}

@mixin linear_fadeout_left{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdfde3+0,2e3191+100&0+15,1+100 */
  background: -moz-linear-gradient(left,  rgba(46,49,145,0) 0%, rgba(46,49,145,0) 15%, rgba(252,252,207,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(46,49,145,0) 0%,rgba(46,49,145,0) 15%,rgba(252,252,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(46,49,145,0) 0%,rgba(46,49,145,0) 15%,rgba(252,252,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e3191', endColorstr='#fdfde3',GradientType=1 ); /* IE6-9 */
}

@mixin linear_fadeout_right{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdfde3+0,2e3191+100&1+0,0+85 */
  background: -moz-linear-gradient(left,  rgba(252,252,207,1) 0%, rgba(46,49,145,0) 85%, rgba(46,49,145,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(252,252,207,1) 0%,rgba(46,49,145,0) 85%,rgba(46,49,145,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(252,252,207,1) 0%,rgba(46,49,145,0) 85%,rgba(46,49,145,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfde3', endColorstr='#002e3191',GradientType=1 ); /* IE6-9 */
}

@mixin linear_fadeout_left_two{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2e3191+0,2e3191+100&0+15,1+100 */
  background: -moz-linear-gradient(left,  rgba(46,49,145,0) 0%, rgba(46,49,145,0) 15%, rgba(46,49,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(46,49,145,0) 0%,rgba(46,49,145,0) 15%,rgba(46,49,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(46,49,145,0) 0%,rgba(46,49,145,0) 15%,rgba(46,49,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e3191', endColorstr='#2e3191',GradientType=1 ); /* IE6-9 */
}

@mixin linear_fadeout_right_two{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2e3191+0,2e3191+100&1+0,0+85 */
  background: -moz-linear-gradient(left,  rgba(46,49,145,1) 0%, rgba(46,49,145,0) 85%, rgba(46,49,145,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(46,49,145,1) 0%,rgba(46,49,145,0) 85%,rgba(46,49,145,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(46,49,145,1) 0%,rgba(46,49,145,0) 85%,rgba(46,49,145,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3191', endColorstr='#002e3191',GradientType=1 ); /* IE6-9 */
}