.main_index{
  grid-area: 'content';
}

.page-404{
  &_header{
    justify-self: center;
    margin-bottom: 75px;
    @include cell_phone{
      margin-bottom: 45px;
    }
    &_title{
      @include font_main_title;
      @include linear_gradient($first_color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    &_text{
      @include font_main_subtitle;
      @include linear_gradient($second_color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    &:after{
      @include cell_phone{
        content: '→';
        color: $second_color;
        position: absolute;
        z-index: 20000;
        top: 290px;
        right: 15px;
        @include animate_seta;
      }
    }
  }
  &_modules{
    display: flex;
    justify-content: space-around;
    @include cell_phone{
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      justify-content: start;
      max-width: 85vw;
      margin: 0 auto;
      padding: 15px 15px;
    }
    & > *{
      flex: 1 0 250px;
      display: grid;
      grid: 'header' 40%
            'text' 60%
            ;
      padding: 0 30px;
      height: 450px;
      background: $background_color;
      color: white;
      position: relative;
      @include cell_phone{
        min-width: 250px;
        height: 350px;
      }
      &:before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        transform: skew(2deg, 2deg);
        z-index: -1;
        @include fallback_horizontal_gradient($second_color);
      }
    }
    &_header{
      z-index: 200;
      margin-bottom: 15px;
      text-transform: uppercase;
      align-self: end;
      @include font_main_module_title;
    }
    &_text{
      z-index: 200;
      @include font_main_module_text;
      & strong{
        text-transform: uppercase;
      }
    }
    &_image{
      position: absolute;
      top: 100px;
      right: 15px;
      width: 200px;
      height: 200px;
      transition: .3s;
      @include cell_phone{
        width: 100px;
        height: 100px;
      }
    }
    &_instagram, &_portfolio{
      &:hover &_image{
        top: 25px;
        transition: .3s;
      }
      &:hover &_button{
        bottom: 15px;
        opacity: 1;
        transition: .3s;
      }
    }
    &_facebook, &_who-we-are{
      margin: 0 20px 0 40px;
      &:hover &_image{
        top: 25px;
        transition: .3s;
      }
      &:hover &_button{
        bottom: 15px;
        opacity: 1;
        transition: .3s;
      }
    }
    &_who-we-are{
      margin: 0 40px 0 20px;
      &:hover &_image{
        top: 25px;
        transition: .3s;
      }
      &:hover &_button{
        bottom: 15px;
        opacity: 1;
        transition: .3s;
      }
    }
    &_button{
      position: absolute;
      bottom: 50px;
      opacity: 0;
      left: 30px;
      background-color: white;
      display: block;
      padding: 10px 20px;
      width: 80px;
      @include font_main_module_button;
      color: $background_color;
      transition: .3s;
      z-index: 200;
      @include cell_phone{
        bottom: 15px;
        opacity: 1;
      }
      &:hover{
        cursor: pointer;
        background-color: $third_color;
        color: white;
        @include cell_phone{
          cursor: none;
          background-color: white;
          color: $background_color;
        }
      }
    }
  }
}

