.main__portfolio{
  grid-area: "content";
  @include grid(4);
  gap: 30px;
  @include little-window{
    @include grid(3);
  }
  @include cell-phone{
    @include grid(1);
    padding: 75px;
  }
  &__item{
    display: grid;
    height: 350px;
    grid-template-rows: [row1-start] 4fr [row1-end row2-start] 1fr [row2-end];
    background: white;
    position: relative;
    padding: 15px;
    transition: .3s;
    z-index: auto;
    &:hover:before{
      background: $first_color;
      transition: .3s;
    }
    &:before{
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      transform: skew(2deg, 2deg);
      z-index: -1;
      background-color: $second_color;
      transition: .3s;
    }
    &__img{
      align-self: center;
      max-height: 230px;
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__header{
      &__title{
        @include font_main_module_subtitle();
        margin-bottom: 10px;
        &:after{
          content: '';
          width: 100%;
          height: 2px;
          background: $background_color;
          display: block;
          margin-top: 5px;
        }
      }
    }
    &__description{
      @include font_main_module_text();
    }
    &__last-line{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__price{
      @include font_main_module_price();
    }
    &__button{
      background: $background_color;
      padding: 10px 20px;
      @include font_main_module_button;
      color: white;
      transition: .3s;
      transform: translate3d(0, -20px, 0);
      opacity: 0;
      @include cell_phone{
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      &:hover{
        background: $third_color;
        transition: .3s;
      }
    }
    &:hover &__button{
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition: .3s;
    }
    // &.active{
    //   position: relative;
    //   left: 0;
    //   width: 1280px;
    //   flex-direction: row;
    //   justify-content: space-between;
    // }
    // &__content.active{
    //   width: 100%;
    // }
  }
}